html{
    background-color: gray;
}

body {
    height: 100vh;
    width: 80vw;
    margin-top: 0;
    margin-bottom: 0;
    margin : auto;
    display: flex;
    flex-direction: column;
}

header {
    height: 40%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.headcont{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.headbox{
    height: 70%;
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
}

#authbox{
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#auth_img{
    background-color: white;
    justify-self: left;
    margin-left: 2%;
    height: 85%;
    width: 90%;
}

#auth_text{
    height: 90%;
    justify-self: auto;
    font-size: 80%;
    text-align: center;
    padding: 5%;
    margin: auto;
}

#welcomebox{
    text-align: justify;
    text-align-last: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

.welcometext{
    padding: .5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    color: white;
    font-size: 80%;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}

/*Ya se que es medio vago, pero bueh*/
#welcome2{
    color: tomato;
    background-color: tomato;
}

/* No me matés, Ivo */
#mysterious_3rd_article{
    height: 70%;
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
}

#adbox1{
    background-color: lightblue;
}

#adbox2{
    background-color: darkslategrey;
}

#adbox3{
    background-color: dimgray;
}

main {
    background-color: tomato;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.maincont{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.art{
    height: 80%;
    width: 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.artimg{
    background-color: white;
    height: 40%;
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
}

.artp{
    color: white;
    font-size: 60%;
    text-align: center;
}

footer {
    height: 15%;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.desc{
    height: 50%;
    width: 15%;
    font-size: 60%;
    text-align: center;
    color: gray;
}