html{
    background-color: gray;
}

body {
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

header {
    height: 40%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.ads{
    display: flex;
    flex-direction: row;
}

footer {
    height: 15%;
    background: white;
}

main {
    flex: 1;
    background-color: tomato;
}